{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}
<h2>About Me </h2>
<div class="row skills-bar text-center">
    <div class = "col-md-6">
        <h2> Skills </h2>
        <h3> Languages </h3>
            {% for s in skills %}
                <p>{{s}}</p>
            {% endfor %}
    </div>
</div>
    <h3> FrameWorks </h3>
        {% for f in frameworks %}
            <p>{{f}}</p>
        {% endfor %}
<div class="conatiner">
            <div class = "row text-center">
                <h2> Projects </h2>
                <hr>
            </div>
            <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="{% static 'personal/img/map_app.png' %}">
                                <div class="caption">
                                    <h3>First Anniversay Application </h3>
                                    <p>...</p>
                                    <p><a href="https://jmorr132.github.io/First-Anniversary-App/" class="btn btn-primary" role="button">Live</a>
                                    <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>
                     </div>
                         <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="{% static 'personal/img/trash_for_cash.png' %}">
                                  <div class="caption">
                                    <h3>Trash For Cash </h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#"
                                    class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>
                        </div>  
                         <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="{% static 'personal/img/blog_picture.png' %}">
                                <div class="caption">
                                    <h3>Multi User Blog </h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a><a href="#"
                                    class="btn btn-default" role="button">Button</a></p>
                                </div>
                            </div>
                        </div>    
                </div>
</div>   
<h2> Education </h2>
{% endblock %}